body {
  background: #eee;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.navbar-brand {
  font-family: 'Berkshire Swash', cursive;
  font-size: 25px;
}

.bg-steel {
  background-color: #000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 0px solid #aaa;
  border-radius: 7px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px #bbb;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 8em;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 1.2em;
  font-weight: 700;
}

.text-secondary {
  font-size: 0.8em;
}

.form-inline {
  margin-bottom: 10px;
}

.col-md-4 img {
  margin-right: 7px;
}

.col-md-4 span {
  font-family: 'Berkshire Swash', cursive;
  font-size: 45px;
}

.content-section {
  padding: 20px;
}

.article-metadata {
  padding-bottom: 10px;
}

.article-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-weight: 700;
  color: black;
}

.article-title {
  font-weight: 700;
}

.signup-redirect {
  margin-bottom: 20px;
}

.about-img {
  margin-bottom: 10px;
}