{% extends "layout.html" %}
{% block content %}
  <h3>Who we are ?</h3>
  <h1>Helping developers and technologists write the script of the future.</h1>
  <p>Founded in 2020, BlogCat's public platform is used by nearly everyone who codes, comes to learn, share their knowledge, collaborate, and build their careers.</p>
  <p>Our public platform serves 120 million people every month, making it one of the 50 most popular websites in the world.</p>
  <img src="../static/bg.png" width="100%" alt="" data-aos="flip-left" data-aos-duration="1000">
{% endblock content %}
